/* You can add global styles to this file, and also import other style files */

table, th, tr, td {
    border:2px solid black;
    font-size: 16px;
    padding: 5px;
}
a{
    /* font-size: 14px; */
    color: blueviolet;
}
#formNewProducts{
    border:2px solid;
    width: 20%;
    margin:0 auto;
}